.btn-pin {
    /*margin:0 1px 1px 0;*/
    border-radius:5px;
    text-align: center;
    /*float: left;*/
    font-size: 40px;
    width: calc(33% - 5px);
    height:76px;
    color: #fff;
    background: #f4ad49;
    position: relative;
	border-bottom:2px solid rgba(0,0,0,0.2);
	margin-bottom:5px;
}

.btn-pin:hover,
.btn-pin:focus,
.btn-pin.focus,
.btn-pin:active,
.btn-pin.active,
.open > .dropdown-toggle.btn-pin {
    color: #fff;
    background-color: #d69840;
	border-top:2px solid rgba(0,0,0,0.2);
	border-bottom:0;
}

.btn-lite {
    border-radius:5px;
    text-align: center;
    float: left;
    font-size: 40px;
    width: calc(25% - 5px);
    height:88px;
    color: #fff;
    background: #f4ad49;
    position: relative;
	border-bottom:2px solid rgba(0,0,0,0.2);
	margin-left:2.5px;
	margin-right:2.5px;
	margin-bottom:5px;
}

.btn-lite:hover,
.btn-lite:focus,
.btn-lite.focus,
.btn-lite:active,
.btn-lite.active,
.open > .dropdown-toggle.btn-lite {
    color: #fff;
    background-color: #d69840;
	border-top:2px solid rgba(0,0,0,0.2);
	border-bottom:0;
}

.btn-lite:active,
.btn-lite.active,
.open > .dropdown-toggle.btn-lite {
    background-image: none;
}

.btn-enter {
    border-bottom:2px solid rbga(0,0,0,0.2) !important;
    text-align: center;
    /*float: left;*/
    font-size: 40px;
    width: calc(100% - 10px);
    height: 76px;
    color: #fff;
    background: #881817;
    border-radius: 5px !important;
}

.btn-enter:hover,
.btn-enter:focus,
.btn-enter.focus,
.btn-enter:active,
.btn-enter.active,
.open > .dropdown-toggle.btn-enter {
    color: #fff;
    background-color: #660000;
	border-top:2px solid rbga(0,0,0,0.2);
	border-bottom:0;
}

.btn-enter:active,
.btn-enter.active,
.open > .dropdown-toggle.btn-enter {
    background-image: none;
}

.btn-enter.disabled,
.btn-enter[disabled],
fieldset[disabled] .btn-enter,
.btn-enter.disabled:hover,
.btn-enter[disabled]:hover,
fieldset[disabled] .btn-enter:hover,
.btn-enter.disabled:focus,
.btn-enter[disabled]:focus,
fieldset[disabled] .btn-enter:focus,
.btn-enter.disabled.focus,
.btn-enter[disabled].focus,
fieldset[disabled] .btn-enter.focus,
.btn-enter.disabled:active,
.btn-enter[disabled]:active,
fieldset[disabled] .btn-enter:active,
.btn-enter.disabled.active,
.btn-enter[disabled].active,
fieldset[disabled] .btn-enter.active {
    opacity:0.5;
}

.btn-enter .badge {
    color: #428bca;
    background-color: #fff;
}

.btn-clear {
    text-align: center;
    /*float: left;*/
    font-size: 40px;
    width: calc(33% - 5px);
    height:76px;
    color: #fff;
    background: #db5565;
    border-radius: 5px !important;
	margin-bottom:5px;
	border-bottom:2px solid rgba(0,0,0,0.2);
}

.btn-clear:hover,
.btn-clear:focus,
.btn-clear.focus,
.btn-clear:active,
.btn-clear.active,
.open > .dropdown-toggle.btn-clear {
    color: #fff;
    background-color: #c04b59;
	border-top:2px solid rgba(0,0,0,0.2);
	border-bottom:0;
}

.btn-clear:active,
.btn-clear.active,
.open > .dropdown-toggle.btn-clear {
    background-image: none;
}

.btn-clear.disabled,
.btn-clear[disabled],
fieldset[disabled] .btn-clear,
.btn-clear.disabled:hover,
.btn-clear[disabled]:hover,
fieldset[disabled] .btn-clear:hover,
.btn-clear.disabled:focus,
.btn-clear[disabled]:focus,
fieldset[disabled] .btn-clear:focus,
.btn-clear.disabled.focus,
.btn-clear[disabled].focus,
fieldset[disabled] .btn-clear.focus,
.btn-clear.disabled:active,
.btn-clear[disabled]:active,
fieldset[disabled] .btn-clear:active,
.btn-clear.disabled.active,
.btn-clear[disabled].active,
fieldset[disabled] .btn-clear.active {
   opacity:0.5;
}

.btn-clear .badge {
    color: #428bca;
    background-color: #fff;
}

.btn-backspace {
    text-align: center;
    /*float: left;*/
    font-size: 40px;
    width: calc(33% - 5px);
    height:76px;
    color: #fff;
    background: #51bf87;
    border-radius: 5px !important;
	margin-bottom:5px;
	border-bottom:2px solid rgba(0,0,0,0.2);
}

.btn-backspace:hover,
.btn-backspace:focus,
.btn-backspace.focus,
.btn-backspace:active,
.btn-backspace.active,
.open > .dropdown-toggle.btn-backspace {
    color: #fff;
    background-color: #47a877;
	border-top:2px solid rgba(0,0,0,0.2);
	border-bottom:0;
}

.btn-glass {
    padding: 5px 5px;
	margin-top:6.5px;
    text-align: center;
    font-size: 15px;
    color:white;
    background: rgba(0, 0, 0, 0);
    font-family: 'robotobold','open_sanscondensed_light', sans-serif;
	text-transform:uppercase;
	border-radius:0px !important;
	/*border-top:2px solid transparent;*/
}

.btn-glass:hover,
.btn-glass:focus,
.btn-glass.focus,
.btn-glass:active,
.btn-glass.active,
.open > .dropdown-toggle.btn-glass {
    color: white;
	border-bottom:2px solid #FEF100;
    /*background-color: #cecece;
	border-top:2px solid rgba(0,0,0,0.2);
	box-shadow:none !important;*/
}

.btn-glass:active,
.btn-glass.active,
.open > .dropdown-toggle.btn-glass {
    background-image: none;
}

.btn-glass.disabled,
.btn-glass[disabled],
fieldset[disabled] .btn-glass,
.btn-glass.disabled:hover,
.btn-glass[disabled]:hover,
fieldset[disabled] .btn-glass:hover,
.btn-glass.disabled:focus,
.btn-glass[disabled]:focus,
fieldset[disabled] .btn-glass:focus,
.btn-glass.disabled.focus,
.btn-glass[disabled].focus,
fieldset[disabled] .btn-glass.focus,
.btn-glass.disabled:active,
.btn-glass[disabled]:active,
fieldset[disabled] .btn-glass:active,
.btn-glass.disabled.active,
.btn-glass[disabled].active,
fieldset[disabled] .btn-glass.active {
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-glass .badge {
    color: #428bca;
    background-color: #fff;
}

.btn-trans {
    text-align: center;
    color: #000;
    border-radius:5px !important;
    background:#f4ad49;
	color:#fff;
	font-weight:bold;
	border-bottom:2px solid rgba(0,0,0,0.2);
	border-top:2px solid transparent;
}

.btn-trans img{
	height:50px;
}

.btn-trans:hover,
.btn-trans:focus,
.btn-trans.focus,
.btn-trans:active,
.btn-trans.active,
.open > .dropdown-toggle.btn-trans {
    color: #fff;
    background-color: #d69840;
	border-top:2px solid rgba(0,0,0,0.2);
	border-bottom:2px solid transparent;
}

.btn-trans:active,
.btn-trans.active,
.open > .dropdown-toggle.btn-trans {
    background-image: none;
}

.btn-trans.disabled,
.btn-trans[disabled],
fieldset[disabled] .btn-trans,
.btn-trans.disabled:hover,
.btn-trans[disabled]:hover,
fieldset[disabled] .btn-trans:hover,
.btn-trans.disabled:focus,
.btn-trans[disabled]:focus,
fieldset[disabled] .btn-trans:focus,
.btn-trans.disabled.focus,
.btn-trans[disabled].focus,
fieldset[disabled] .btn-trans.focus,
.btn-trans.disabled:active,
.btn-trans[disabled]:active,
fieldset[disabled] .btn-trans:active,
.btn-trans.disabled.active,
.btn-trans[disabled].active,
fieldset[disabled] .btn-trans.active {
    background-color: black;
   
}

.btn-trans .badge {
    color: #428bca;
    background-color: #fff;
}

.btn-status {
    text-align: center;
    color: #000;
    border-radius:0px !important;
    background: transparent;
	color:#fff;
	font-weight:bold;
}

.btn-status img{
	height:50px;
}

.btn-status:hover,
.btn-status:focus,
.btn-status.focus,
.btn-status:active,
.btn-status.active,
.open > .dropdown-toggle.btn-status {
    color: #fff;
    background-color: #d69840;
}
.btn-status.disabled,
.btn-status[disabled],
fieldset[disabled] .btn-status,
.btn-status.disabled:hover,
.btn-status[disabled]:hover,
fieldset[disabled] .btn-status:hover,
.btn-status.disabled:focus,
.btn-status[disabled]:focus,
fieldset[disabled] .btn-status:focus,
.btn-status.disabled.focus,
.btn-status[disabled].focus,
fieldset[disabled] .btn-status.focus,
.btn-status.disabled:active,
.btn-status[disabled]:active,
fieldset[disabled] .btn-status:active,
.btn-status.disabled.active,
.btn-status[disabled].active,
fieldset[disabled] .btn-status.active {
    background-color: black;
   
}
.btn-calc {
    /*margin-bottom: 15px;
    padding: 16px 0px;
    text-align: center;
    float: left;
    font-size: 20px;
    width: 12%;
    color: #fff;
    background: #0072bc;
    border-radius: 0 !important;*/
    
    border-bottom:2px solid rgba(0,0,0,0.2);
    border-top:2px solid transparent;
    text-align: center;
    float: left;
    font-size: 30px;
    width: 30%;
    height:68px;
    color: #fff;
    background: #f4ad49;
    border-radius: 5px !important;
    position: relative;
	font-weight:bold;
	margin-right:3%;
	margin-bottom:5px;
	text-transform:uppercase;
}

.btn-calc:hover,
.btn-calc:focus,
.btn-calc.focus,
.btn-calc:active,
.btn-calc.active,
.open > .dropdown-toggle.btn-calc {
    color: #fff;
    background-color: #d69840;
    border-top:2px solid rgba(0,0,0,0.2);
    border-bottom:2px solid transparent;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-calc {
    background-image: none;
}

.btn-calc.disabled,
.btn-calc[disabled],
fieldset[disabled] .btn-calc,
.btn-calc.disabled:hover,
.btn-calc[disabled]:hover,
fieldset[disabled] .btn-calc:hover,
.btn-calc.disabled:focus,
.btn-calc[disabled]:focus,
fieldset[disabled] .btn-calc:focus,
.btn-calc.disabled.focus,
.btn-calc[disabled].focus,
fieldset[disabled] .btn-calc.focus,
.btn-calc.disabled:active,
.btn-calc[disabled]:active,
fieldset[disabled] .btn-calc:active,
.btn-calc.disabled.active,
.btn-calc[disabled].active,
fieldset[disabled] .btn-calc.active {
    opacity:0.5;
}

.btn-calc .badge {
    color: #428bca;
    background-color: #fff;
}

.btn-calc-clear {
	
	text-align: center;
    float: left;
    font-size: 20px;
    width: 60px;
    height:60px;
    color: #fff;
    background: #F68C86;
    border:1px solid white;
    border-radius: 0 !important;
}

.btn-calc-clear:hover,
.btn-calc-clear:focus,
.btn-calc-clear.focus,
.btn-calc-clear:active,
.btn-calc-clear.active,
.open > .dropdown-toggle.btn-calc-clear {
    color: #fff;
    background-color: #bd1421;
    border-color: #285e8e;
}

.btn-calc-clear:active,
.btn-calc-clear.active,
.open > .dropdown-toggle.btn-calc-clear {
    background-image: none;
}

.btn-calc-clear.disabled,
.btn-calc-clear[disabled],
fieldset[disabled] .btn-calc-clear,
.btn-calc-clear.disabled:hover,
.btn-calc-clear[disabled]:hover,
fieldset[disabled] .btn-calc-clear:hover,
.btn-calc-clear.disabled:focus,
.btn-calc-clear[disabled]:focus,
fieldset[disabled] .btn-calc-clear:focus,
.btn-calc-clear.disabled.focus,
.btn-calc-clear[disabled].focus,
fieldset[disabled] .btn-calc-clear.focus,
.btn-calc-clear.disabled:active,
.btn-calc-clear[disabled]:active,
fieldset[disabled] .btn-calc-clear:active,
.btn-calc-clear.disabled.active,
.btn-calc-clear[disabled].active,
fieldset[disabled] .btn-calc-clear.active {
    opacity:0.5;
}

.btn-calc-clear .badge {
    color: #428bca;
    background-color: #fff;
}

.btn-calc-enter {
    margin-bottom: 25px;
    padding: 3% 0px;
    text-align: center;
    float: left;
    font-size: 30px;
    width: 12%;
    color: #fff;
    background: #8dc63f;
    border-radius: 0 !important;
}

.btn-calc-enter:hover,
.btn-calc-enter:focus,
.btn-calc-enter.focus,
.btn-calc-enter:active,
.btn-calc-enter.active,
.open > .dropdown-toggle.btn-calc-enter {
    color: #fff;
    background-color: #10940d;
    border-color: #285e8e;
}

.btn-calc-enter:active,
.btn-calc-enter.active,
.open > .dropdown-toggle.btn-calc-enter {
    background-image: none;
}

.btn-calc-enter.disabled,
.btn-calc-enter[disabled],
fieldset[disabled] .btn-calc-enter,
.btn-calc-enter.disabled:hover,
.btn-calc-enter[disabled]:hover,
fieldset[disabled] .btn-calc-enter:hover,
.btn-calc-enter.disabled:focus,
.btn-calc-enter[disabled]:focus,
fieldset[disabled] .btn-calc-enter:focus,
.btn-calc-enter.disabled.focus,
.btn-calc-enter[disabled].focus,
fieldset[disabled] .btn-calc-enter.focus,
.btn-calc-enter.disabled:active,
.btn-calc-enter[disabled]:active,
fieldset[disabled] .btn-calc-enter:active,
.btn-calc-enter.disabled.active,
.btn-calc-enter[disabled].active,
fieldset[disabled] .btn-calc-enter.active {
    opacity:0.5;
}

.btn-calc-enter .badge {
    color: #428bca;
    background-color: #fff;
}

.btn-metode {
    /*margin-bottom: 20px;
    padding: 2% 0px;
    text-align: center;
    float: left;
    font-size: 20px;
    width: 31%;
    color: #fff;
    background: #8dc63f;
    border-radius: 0 !important;
    margin: 0 10px 10px 0;*/
    
    text-align: center;
	text-transform:uppercase;
    float: left;
    font-size: 14px;
    width: 19.1%;
    /*height:65px;*/
    color: #fff;
    background: #f4ad49;
    border-bottom:2px solid rgba(0,0,0,0.2);
    border-top:2px solid transparent;
    border-radius:5px !important;
	white-space:normal;
	padding:6px 0;
	margin-right:1%;
	font-weight:bold;
}

.btn-metode:hover,
.btn-metode:focus,
.btn-metode.focus,
.btn-metode:active,
.btn-metode.active,
.open > .dropdown-toggle.btn-metode {
    color: #fff;
    background-color: #d69840;
    border-top:2px solid rgba(0,0,0,0.2);
    border-bottom:2px solid transparent;
}

.btn-metode:active,
.btn-metode.active,
.open > .dropdown-toggle.btn-metode {
    background-image: none;
}

.btn-metode.disabled,
.btn-metode[disabled],
fieldset[disabled] .btn-metode,
.btn-metode.disabled:hover,
.btn-metode[disabled]:hover,
fieldset[disabled] .btn-metode:hover,
.btn-metode.disabled:focus,
.btn-metode[disabled]:focus,
fieldset[disabled] .btn-metode:focus,
.btn-metode.disabled.focus,
.btn-metode[disabled].focus,
fieldset[disabled] .btn-metode.focus,
.btn-metode.disabled:active,
.btn-metode[disabled]:active,
fieldset[disabled] .btn-metode:active,
.btn-metode.disabled.active,
.btn-metode[disabled].active,
fieldset[disabled] .btn-metode.active {
    opacity:0.5;
}

.btn-metode .badge {
    color: #428bca;
    background-color: #fff;
}

.btn-prev {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 14px;
	text-align:center;
    width: 100%;
	display:table;
}
.btn-prev:hover, .btn-prev:focus, .btn-prev:active {
    /*background: #881817;*/
	color:#FEF100;
}

.last-floor{
	color:rgba(255,255,255,0.4) !important;
}

.btn-next {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 14px;
	text-align:center;
    width: 100%;
	display:table;
}

.btn-next:hover, .btn-next:focus, .btn-next:active{
    /*background: #881817;*/
	color:#FEF100;
}

.btn-next img {
    width: 40px;
}

.btn-prev img:hover,
.btn-prev img:focus,
.btn-prev img.focus,
.btn-prev img:active,
.btn-prev img.active,
.open > .dropdown-toggle.btn-prev img {
    opacity: 0.5;
}

.btn-next img:hover,
.btn-next img:focus,
.btn-next img.focus,
.btn-next img:active,
.btn-next img.active,
.open > .dropdown-toggle.btn-prev img {
    opacity: 0.5;
}

.btn-big-glass {
    margin-top: 15px;
    font-size: 15px;
    text-align: center;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	border-top: 2px solid transparent;
    color: #fff;
    background: #b71918;
    /*border-radius: 5px !important;*/
	width:100%;
	font-family:'robotobold';
	/*-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.22);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.22);*/
}

.btn-big-glass:hover,
.btn-big-glass:focus,
.btn-big-glass.focus,
.btn-big-glass:active,
.btn-big-glass.active,
.open > .dropdown-toggle.btn-big-glass {
    background-color: #b71918;
	/*border-top: 2px solid rgba(0, 0, 0, 0.2);
	border-bottom: 2px solid transparent;*/
	color:#FEF100;
}

.btn-big-glass:active,
.btn-big-glass.active,
.open > .dropdown-toggle.btn-big-glass {
    background-image: none;
}

.btn-big-glass.disabled,
.btn-big-glass[disabled],
fieldset[disabled] .btn-big-glass,
.btn-big-glass.disabled:hover,
.btn-big-glass[disabled]:hover,
fieldset[disabled] .btn-big-glass:hover,
.btn-big-glass.disabled:focus,
.btn-big-glass[disabled]:focus,
fieldset[disabled] .btn-big-glass:focus,
.btn-big-glass.disabled.focus,
.btn-big-glass[disabled].focus,
fieldset[disabled] .btn-big-glass.focus,
.btn-big-glass.disabled:active,
.btn-big-glass[disabled]:active,
fieldset[disabled] .btn-big-glass:active,
.btn-big-glass.disabled.active,
.btn-big-glass[disabled].active,
fieldset[disabled] .btn-big-glass.active {
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-big-glass .badge {
    color: #428bca;
    background-color: #fff;
}
.res-width{
	width:28% !important;
}
@media (max-width: 1024px) {
	.res-width{
		width:29.3% !important;
	}
}

.btn-std{
	background-color:#881817;
	text-transform:uppercase;
	border-radius:5px !important;
	color:white;
	font-weight:bold;
	font-size:13px;
	border-top:2px solid transparent;
	border-bottom:2px solid rgba(0,0,0,0.2);
}
.btn-std:hover, .btn-std:focus, .btn-std:active{
	background:#660000;
	border-top:2px solid rgba(0,0,0,0.2);
	border-bottom:2px solid transparent;
	color:#fff;
}

.btn-std-yellow{
	background-color:#f4ad49;
	text-transform:uppercase;
	border-radius:5px !important;
	color:#3B1E10;
	font-weight:bold;
	font-size:13px;
}
.btn-std-yellow-pc{
    background-color:#f4ad49;
    text-transform:uppercase;
    border-radius:5px !important;
    color:#3B1E10;
    font-weight:bold;
    font-size:13px;
    margin-top: 5px;
    margin-left: 60px;
}

.title-bg-custom .btn.btn-std-yellow {
    margin: 5px 0;
}

.btn-std-yellow:hover, .btn-std-yellow:focus, .btn-std-yellow:active{
	background:#d69840;
	border-top:2px solid rgba(0,0,0,0.2);
	border-bottom:2px solid transparent;
	color:#3B1E10 !important;
}
.btn-float{
	position:absolute;
	top:4px;
	z-index:3;
}
.btn-number{
	background:#f4ad49;
	border-top:2px solid transparent;
	border-bottom:2px solid rgba(0,0,0,0.2);
	color:#fff;
}
.btn-number:hover, .btn-number:focus, .btn-number:active{
	background:#f4ad49;
	border-bottom:2px solid transparent;
	border-top:2px solid rgba(0,0,0,0.2);
	color:#fff;
}


.btn-number-void{
    background:#f4ad49;
    border-top:2px solid transparent;
    border-bottom:2px solid rgba(0,0,0,0.2);
    color:#fff;
}
.btn-number-void:hover, .btn-number-void:focus, .btn-number-void:active{
    background:#f4ad49;
    border-bottom:2px solid transparent;
    border-top:2px solid rgba(0,0,0,0.2);
    color:#fff;
}

.btn-small-trans {
    margin-top: 5px;
    padding: 5px 10px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    border-radius: 0 !important;
    background: #0072bc;
    font-family: 'Open Sans Condensed', sans-serif;
}
.btn-option-list {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 13px;
    padding: 0px 8px;
    text-align: center;
    color: #fff;
    background: rgb(195, 0, 0);
    border-radius: 5px !important;
	border-bottom:2px solid rgba(0,0,0,0.2);
	border-top:2px solid transparent;
	height:35px;
	line-height:0.5;
}

.btn-option-list:hover,
.btn-option-list:focus,
.btn-option-list.focus,
.btn-option-list:active,
.btn-option-list.active,
.open > .dropdown-toggle.btn-option-list {
  
    color: #fff;
    background-color: #771514;
	border-top:2px solid rgba(0,0,0,0.2);
	border-bottom:2px solid transparent;
}

.btn-option-list:active,
.btn-option-list.active,
.open > .dropdown-toggle.btn-option-list {
    background-image: none;
}

.btn-option-list.disabled,
.btn-option-list[disabled],
fieldset[disabled] .btn-option-list,
.btn-option-list.disabled:hover,
.btn-option-list[disabled]:hover,
fieldset[disabled] .btn-option-list:hover,
.btn-option-list.disabled:focus,
.btn-option-list[disabled]:focus,
fieldset[disabled] .btn-option-list:focus,
.btn-option-list.disabled.focus,
.btn-option-list[disabled].focus,
fieldset[disabled] .btn-option-list.focus,
.btn-option-list.disabled:active,
.btn-option-list[disabled]:active,
fieldset[disabled] .btn-option-list:active,
.btn-option-list.disabled.active,
.btn-option-list[disabled].active,
fieldset[disabled] .btn-option-list.active {
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-option-list .badge {
    color: #428bca;
    background-color: #fff;
}
.btn-option-list img{
	width:18px;
}

.btn-calc-direct {
    text-align: center;
    float: left;
    font-size: 24px;
    height:68px;
    color: #fff;
    border-radius: 5px !important;
    position: relative;
	vertical-align:middle;
	padding:0;
	width:48%;
	margin:0 4% 5px 0;
	text-transform:uppercase;
	font-weight:bold;
	border-bottom:2px solid rgba(0,0,0,0.2);
	border-top:2px solid transparent;
}

.btn-calc-direct:hover, .btn-calc-direct:focus , .btn-calc-direct:active{
	border-bottom:2px solid rgba(0,0,0,0.2);
	border-top:2px solid transparent;
	color:#fff;
}
.clear-margin-right{
	margin-right:0;
}
.clearNumber, .deleteNumber{
	background:#db5565;
}
.clearNumber:hover, .deleteNumber:hover{
	background:#c04b59;
}
.btn-blue, .payment-ok{
	background:#51bf87;
}
.payment-ok{
	width:48%;
}
.btn-blue:hover, .payment-ok:hover{
	background:#adadad;
}
.btn-red{
	background:#f26c4f;
}
.btn-red:hover{
	background:#9e0b0f;
	color:#fff;
}

.btn-blue{
	background:#1f96ff;
}
.btn-blue:hover{
	background:#003663;
	color:#fff;
}

.btn-green{
	background:#8dc63f;
}
.btn-green:hover{
	background:#598527;
	color:#fff;
}

.btn-purple{
	background:#8393ca;
}
.btn-purple:hover{
	background:#662d91;
	color:#fff;
}

.btn-yellow{
	background:#fddd62;
}
.btn-yellow:hover{
	background:#d4b952;
	color:#fff;
}

.btn-pure-green{
	background:#25a2a6;
}
.btn-pure-green:hover{
	background:#1c7b7e;
	color:#fff;
}

.btn-silver{
	background:#959595;
}
.btn-silver:hover{
	background:#464646;
	color:#fff;
}

.btn-grey{
	background:#ccc;
}
.btn-grey:hover{
	background:#898989;
	color:#fff;
}

.btn-done {
    border-bottom:2px solid rgba(0,0,0,0.2);
    border-top:2px solid transparent;
    text-align: center;
    float: left;
    font-size: 30px;
    width: 48%;
    height:68px;
    color: #fff;
    background: #0bacd3;
    border-radius: 5px !important;
    position: relative;
	margin:0 0% 5px;
	text-transform:uppercase;
	font-weight:bold;
}

.btn-done:hover,
.btn-done:focus,
.btn-done.focus,
.btn-done:active,
.btn-done.active,
.open > .dropdown-toggle.btn-done {
    color: #fff;
    background-color: #0a97b9;
    border-top:2px solid rgba(0,0,0,0.2);
    border-bottom:2px solid transparent;
}

.btn-done:active,
.btn-done.active,
.open > .dropdown-toggle.btn-done {
    background-image: none;
}

.btn-done.disabled,
.btn-done[disabled],
fieldset[disabled] .btn-done,
.btn-done.disabled:hover,
.btn-done[disabled]:hover,
fieldset[disabled] .btn-done:hover,
.btn-done.disabled:focus,
.btn-done[disabled]:focus,
fieldset[disabled] .btn-done:focus,
.btn-done.disabled.focus,
.btn-done[disabled].focus,
fieldset[disabled] .btn-done.focus,
.btn-done.disabled:active,
.btn-done[disabled]:active,
fieldset[disabled] .btn-done:active,
.btn-done.disabled.active,
.btn-done[disabled].active,
fieldset[disabled] .btn-done.active {
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-done .badge {
    color: #428bca;
    background-color: #fff;
}

.btn-splitter {
    margin: 0px auto 0;
    text-align: center;
    color: #fff;
	background:transparent;
	box-shadow:none;
	border:0;
	border-radius:0 !important;
	width:40px;
}

.btn-splitter:hover, .btn-splitter:focus, .btn-splitter:active{
	background:#c04b59;
	color:#fff;
}

.btn-splitter-cart {
    margin-top: 5px;
    padding: 100px 0px;
	width:100%;
    text-align: center;
    font-size: 20px;
    color: #fff;
    border-radius: 0 !important;
    background: #0072bc;
    font-family: 'Open Sans Condensed', sans-serif;
}

.btn-splitter-cart:hover{
	background:#005b7f;
	color:#fff;
}

@media(max-width:991px){
	.btn-splitter-cart{
		padding:10px 0;
		width:100%;
		margin:0 auto;
	}
}

.btn-cc {
    text-align: center;
    float: left;
    font-size: 20px;
    width: 50px;
    height:50px;
    color: #464646;
    background: #fddd62;
    border:1px solid white;
    border-radius: 0 !important;
	white-space:normal;
}
.btn-cc:hover{
	background:#d4b952;
	color:#464646;
}

.reservation-active{
	background:#598527;
}

.btn-reservation-menu{
	background:#0072bc;
	padding:10px;
	color:#fff;
	border-radius:0;
	height:180px;
}

.btn-reservation-menu:hover{
	color:#fff;
	text-decoration:none;
	background:#004a80;
}

.btn-glass-active{
	color: gray;
    background-color: #FFEC63;
}

.btn-toggle-pin{
    padding: 5px 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color:#fff;
    /*border-radius: 7px !important;*/
    background: #f44336;
    font-family: 'Open Sans Condensed', sans-serif;
	margin-top:6.5px;
	margin-right:10px;
}

.btn-toggle-pin:hover, .btn-toggle-pin:active{
	color:#fff;
	background:#4caf50 ;
	border-top:2px solid rgba(0,0,0,0.2);
}

.btn-toggle-pin-active{
	background:#4caf50 ;
	border-top:2px solid rgba(0,0,0,0.2);
}

.btn-toggle-pin-active:hover{
	background:#4caf50 ;
	border-top:2px solid rgba(0,0,0,0.2);
}

.btn-distance{
	margin-left:5px;
	margin-right:5px;
}
.btn-status-kitchen{
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border-radius: 0px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  width: 16px;
}
.btn-status-kitchen.cooking{
  background: white;
  color: #3c763d;
}
.btn-status-kitchen.checklist.active,.btn-status-kitchen.checklist:hover{
  background: #3c763d;
  color: white;
}
.btn-status-kitchen.cooking.active,.btn-status-kitchen.cooking:hover{
  background: #3c763d;
  color: white;
}
.btn-status-kitchen.unavailable{
  background: white;
  color: red;
}
.btn-status-kitchen.unavailable.active,.btn-status-kitchen.unavailable:hover{
  background: red;
  color: white;
}
@media(max-width:1200px) {
	@media(min-width:760px){
		.collapse-custom .btn-glass{
			padding: 5px 0px;
		}
		.dine-in-container{
			/*margin-top: 50px;*/
		}
	}
	.btn-change-table,.btn-merge-table,.btn-ok-merge{
		padding:4px 12px;
		width: calc(50% - 2px);
		margin-top:0px;
	}
}
@media(max-width:991px) and (min-width:768px){
	.btn-glass, .btn-toggle-pin, .btn-toggle-pin-active{
		font-size:12px;

	}
}
@media (max-width:775px){
	/*.btn-pin{
		font-size: 30px;
		width: 86px;
    height: 73px;
		line-height:35px;
	}*/
	.btn-open{
		/*width: 86px;
        height: 73px;*/
	}
  .btn-pin-confirmation{
    font-size: 23px;
    height: 40px;
    line-height: 17px;
    width: calc(33.3% - 10px);
  }
	/*.btn-clear {
		font-size: 30px;
		width: 86px;
    height: 73px;
		line-height:35px;
	}
	.btn-backspace {
		font-size: 30px;
		width: 70px;
		height:50px;
		line-height:35px;
	}
	.btn-enter {
		font-size: 30px;
		width: 70px;
		height:105px;
	}*/
	.btn-lite {
		font-size: 25px;
		height: 49px;
		line-height: 18px;
		width: calc(25% - 5px);
	}
	.btn-big-glass{
		width: calc(50% - 4px);
		margin-top: 0px;
		margin-left:2px;
		font-size: 15px;	
    height: 36px;
	}
	.popup-order .btn-std{
		font-size:12px;
    width: 45%;
	}
  .btn-reservation-menu {
    height: 100%;
    padding-top:0px !important;
  }
}

.btn-call-waiter{
    float:right;
    color:white;
    cursor:pointer;
	margin: 3px 5px;
}

.btn-call-waiter:hover{
    color:#fef100;
}

/* custom */
.icon-bar.openclose{float: right;}
.openclose .toggle{margin: 7px; border-color: #b71918 !important;min-width: 70px !important;}
.openclose .toggle[disabled] {opacity: 1; cursor: pointer; pointer-events: auto;}
.toggle-group .toggle-off{background: #f44336 none repeat scroll 0 0;color: #fff;}
.toggle-group .toggle-on {background: #4caf50 none repeat scroll 0 0;color: #fff;}
.nav.navbar-nav.btn-glass > li > a {
    padding: 0 0 1px;
	color: #fff;
	text-align: left;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}
.nav.navbar-nav.btn.btn-glass {
    margin-top: 7px;
	margin-left: 0;
}

ul.btn-glass.active{
	border-bottom: 2px solid #FEF100;
	padding-bottom: 5px;
}
.navbar-nav.btn-glass > .open > a, .navbar-nav.btn-glass > .open > a:hover, .navbar-nav.btn-glass > .open > a:focus {
    background-color: inherit;
    color: #fff !important;
}
.btn-glass .dropdown-menu {
    padding: 0;
	margin-left: -8px;
    background-color: #b71918;
	margin-top: 5px !important;
	border: 2px solid #fef100;
}
.btn-glass .dropdown-menu > li > a {
    color: #fff;
}
.btn-glass .dropdown-menu > li > a:hover,
.btn-glass .dropdown-menu > li > a:focus,
.btn-glass .dropdown-menu > li > a.active {
    background-color: #fef100 !important;
	color: #b71918 !important;
}
.btn-glass .dropdown-menu .divider {
    margin: 0;
}
@media (max-height:568px) and (max-width:320px){
    .btn-pin,.btn-backspace,.btn-clear,.btn-enter{
        height: 10vh;
        max-height: 76px;
        vertical-align: middle;
        line-height: 10vh;
        padding: 0px;
    }
}

.logout-btn{
    float:right;
    margin-right:40px;
}

@media (max-width:767px){
    .logout-btn{
        float:left;
    }

    .openclose{
        float: left;
    }
}

.mobile-sub-menu{
    width: calc(33.3% - 2.5px);
}